.Info {
    color: #eee;
    margin: 32px 0 0;
    font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace;
    font-size: 16px;
}

.Lyrics {
    width: calc(100% - 128px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 64px;
}

.Lyrics p {
    color: #eee;
    margin: 0;
    font-size: 16px;
    font-family: 'IBM Plex Sans', 'Courier New', Courier, monospace;
    text-align: left;
    height: 256px;
    overflow-y: scroll;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    max-width: 512px;
}

@media only screen and (max-width: 600px) {
    .Lyrics {
        width: calc(100% - 32px);
        padding: 32px 16px;
    }
}